<div class="jumbotron mt-5 mb-5">
    <h2 class="heading">
        Filtra noticias por país y categoría
    </h2>
    <div class="row">
        <div class="col-lg-8 offset lg-2">
            <form (ngSubmit)="buscarNoticias()">
                <div class="form-group">
                    <label for="exampleSelect1" class="form-label mt-4">Categoría</label>
                    <select class="form-select form-select-lg" name="categoria" [(ngModel)]="categoriaSeleccionada">
                      <option *ngFor="let categoria of categorias" [value]="categoria.value">{{categoria.name}}</option>

                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleSelect1" class="form-label mt-4">Paises</label>
                    <select class="form-select form-select-lg" name="pais" [(ngModel)]="paisSeleccionado">
                      <option *ngFor="let pais of paises" [value]="pais.value">{{pais.name}}</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-dark btn-block btn-lg mt-5">Buscar</button>
            </form>
        </div>
    </div>
</div>